@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: darkslategray;
}

ul {
  list-style-type: none;
}


.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.right-links {
  justify-content: flex-end;
  margin-right: 30px;
}

.footer {
  background-color: #eee;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.buttons {
  margin-top: 15px;
}